html {
    margin: 0px 600px 
}

body {
    font-family: sans-serif;
}

th, td {
    padding: 10px;
    font-size: 18px;
}

#Table {
    font-size: 0.7em; border: 1px solid
}

#YPYOM, #YEO, #YOFFH {
    text-align: center;
}

label {
    margin-right: 20px;
}

button {
    margin: 5px;
    font-size: 17px;
}